$body-bg-color : #fedfcc;
$teal-bg : #20c997;
$yellow-bg : #f1c40f;
$white: #ffffff;
$black: #333333;
$light-grey: #999999;
$brown: #543D32;
$lato-regular: latoregular;
$lato-black: latoblack;
$lato-bold: latobold;
$lato-light: latolight;
$lato-italic: latoitalic;
$lato-hairline: latohairline;
$oswald: oswaldregular;

